In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Questions:

Who spends more money? And on what? \n
Who is most engarged? meaning reviews amounts

In [2]:
apple = pd.read_csv("AppleStore.csv")

In [3]:
apple.head()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

In [4]:
google1 = pd.read_csv("Google-Playstore-Full.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (2,3,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
google1small = pd.read_csv("Google-Playstore-32K.csv")

In [6]:
google2_1 = pd.read_csv("googleplaystore.csv")

In [7]:
google2_2 = pd.read_csv("googleplaystore_user_reviews.csv")

In [8]:
google1.drop(columns=["Unnamed: 11","Unnamed: 12","Unnamed: 13","Unnamed: 14"], inplace = True)
google1.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1.20792e+06,"100,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device

In [9]:
google2_1.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [10]:
print(google2_1.shape, google1.shape, google1small.shape, apple.shape)

(10841, 13) (267052, 11) (32000, 11) (7197, 17)

In [11]:
len(set(google1["App Name"].str.lower()).intersection(set(apple.track_name.str.lower())))

1356

In [12]:
len(set(google1small["App Name"].str.lower()).intersection(set(apple.track_name.str.lower())))

831

In [13]:
len(set(google2_1["App"].str.lower()).intersection(set(apple.track_name.str.lower())))

337

In [14]:
google1 = google1.drop_duplicates(subset="App Name")

In [15]:
apple = apple.drop_duplicates(subset="track_name")

In [16]:
print(google1.shape,  apple.shape)

(244407, 11) (7195, 17)

In [17]:
#google1.to_numeric({'Rating': 'float64',"Reviews":"int64"}).dtypes
google1["Reviews"] = pd.to_numeric(google1["Reviews"], errors ="coerce")

In [18]:
google1["Rating"] = pd.to_numeric(google1["Rating"], errors ="coerce")

In [19]:
google1.isna().sum()

App Name            1
Category            1
Rating             15
Reviews             2
Installs            0
Size                0
Price               0
Content Rating      0
Last Updated        0
Minimum Version     1
Latest Version      3
dtype: int64

In [20]:
google1.dropna(subset=["App Name","Rating","Reviews"],inplace = True)

In [21]:
google1.drop(columns=["Latest Version","Minimum Version","Last Updated"], inplace = True)
google1.head(2)

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548562,305034.0,"5,000,000+",Varies with device,0,Everyone
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671,1207922.0,"100,000,000+",Varies with device,0,Everyone

In [22]:
google1.Price = [x.strip('$') for x in google1.Price]

In [23]:
google1 = google1.astype({'Rating': 'float64','Price': 'float64',"Reviews":"int64"})

In [24]:
google1[["Rating"]] = google1[["Rating"]].round(1)

In [25]:
google1.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.5,305034,"5,000,000+",Varies with device,0.00,Everyone
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.4,1207922,"100,000,000+",Varies with device,0.00,Everyone
2,Peapod,SHOPPING,3.7,1967,"100,000+",1.4M,0.00,Everyone
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.1,389154,"10,000,000+",16M,0.00,Everyone
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.6,2291,"10,000+",Varies with device,5.99,Everyone

In [26]:
import math

def convert_size(size_bytes):
    if size_bytes == 0:
        return "0B"
    size_name = ("B", "K", "M", "GB", "TB", "PB", "EB", "ZB", "YB")
    i = int(math.floor(math.log(size_bytes, 1024)))
    p = math.pow(1024, i)
    s = round(size_bytes / p, 1)
    return "%s%s" % (s, size_name[i])

In [27]:
apple = apple.rename(columns={"track_name": "App Name", "price": "Price", "rating_count_tot": "Reviews", "user_rating": "Rating", "prime_genre": "Category", "cont_rating": "Content Rating","size_bytes":"Size"})

apple.Size.head(10)

0    100788224
1    158578688
2    100524032
3    128512000
4     92774400
5     10485713
6    227795968
7    130242560
8     49250304
9     70023168
Name: Size, dtype: int64

In [28]:

#apple.Size = pd.to_numeric(apple.Size, errors ="coerce")
#apple.Size = convert_size(apple.Size[x] for x in range(len(apple.Size)))
apple.Size = apple.Size.apply(lambda x: convert_size(x))
apple.Size.head(7)

0     96.1M
1    151.2M
2     95.9M
3    122.6M
4     88.5M
5     10.0M
6    217.2M
Name: Size, dtype: object

In [29]:
apple.drop(['Unnamed: 0', 'id', 'currency', 'user_rating_ver', 'rating_count_ver', 'vpp_lic', 'lang.num',"sup_devices.num","ipadSc_urls.num","ver"],inplace=True, axis = 1)
apple.head()

,App Name,Size,Price,Reviews,Rating,Content Rating,Category
0,PAC-MAN Premium,96.1M,3.99,21292,4.0,4+,Games
1,Evernote - stay organized,151.2M,0.00,161065,4.0,4+,Productivity
2,"WeatherBug - Local Weather, Radar, Maps, Alerts",95.9M,0.00,188583,3.5,4+,Weather
3,"eBay: Best App to Buy, Sell, Save! Online Shop...",122.6M,0.00,262241,4.0,12+,Shopping
4,Bible,88.5M,0.00,985920,4.5,4+,Reference

In [30]:
import re

In [31]:

#google1["Category"] = google1["Category"].str.slice(stop=4) df['column1'].str.replace(r"\{.*\}","")
google1["Category"].unique()

array(['FOOD_AND_DRINK', 'TRAVEL_AND_LOCAL', 'SHOPPING', 'LIFESTYLE',
       'GAME_ACTION', 'GAME_CASUAL', 'GAME_ROLE_PLAYING', 'GAME_PUZZLE',
       'GAME_RACING', 'GAME_ADVENTURE', 'GAME_ARCADE', 'GAME_STRATEGY',
       'GAME_SPORTS', 'GAME_SIMULATION', 'GAME_MUSIC', 'MUSIC_AND_AUDIO',
       'FINANCE', 'EVENTS', 'ENTERTAINMENT', 'EDUCATION',
       'GAME_EDUCATIONAL', 'BOOKS_AND_REFERENCE', 'NEWS_AND_MAGAZINES',
       'PHOTOGRAPHY', 'VIDEO_PLAYERS', 'GAME_WORD', 'ART_AND_DESIGN',
       'GAME_TRIVIA', 'GAME_BOARD', 'BUSINESS', 'PRODUCTIVITY',
       'COMMUNICATION', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME', 'SOCIAL',
       'BEAUTY', 'GAME_CASINO', 'MAPS_AND_NAVIGATION', 'PERSONALIZATION',
       'GAME_CARD', 'TOOLS', 'SPORTS', 'AUTO_AND_VEHICLES',
       'LIBRARIES_AND_DEMO', 'COMICS', 'PARENTING', 'DATING', 'WEATHER',
       'MEDICAL', '6', 'TRAVEL'], dtype=object)

In [32]:
google1['Category'] = google1['Category'].replace({'FOOD_AND_DRINK': 'Food & Drink', 'TRAVEL_AND_LOCAL': 'Travel', 'SHOPPING': 'Shopping', 'LIFESTYLE': 'Lifestyle', 'MUSIC_AND_AUDIO': 'Music', 'FINANCE': 'Finance', 'EVENTS': 'Entertainment', 'EDUCATION': 'Education', 'BOOKS_AND_REFERENCE': 'Book', 'NEWS_AND_MAGAZINES': 'News', 'PHOTOGRAPHY': 'Photo & Video', 'VIDEO_PLAYERS': 'Photo & Video', 'ART_AND_DESIGN': 'Lifestyle', 'BUSINESS': 'Business', 'HOUSE_AND_HOME': 'Lifestyle', 'SOCIAL': 'Social Networking', 'BEAUTY': 'Health & Fitness', 'MAPS_AND_NAVIGATION': 'Navigation', 'PERSONALIZATION': 'Utilities', 'PRODUCTIVITY': 'Productivity', 'TOOLS': 'Utilities', 'SPORTS': 'Sports', 'AUTO_AND_VEHICLES': 'Lifestyle', 'LIBRARIES_AND_DEMO': 'Catalogs', 'COMICS': 'Entertainment', 'PARENTING': 'Lifestyle', 'DATING': 'Social Networking', 'WEATHER': 'Weather', 'MEDICAL': 'Medical', 'COMMUNICATION': 'Social Networking', 'TRAVEL': 'Travel',"ENTERTAINMENT":"Entertainment","HEALTH_AND_FITNESS":"Health & Fitness"})
google1["Category"].unique()

array(['Food & Drink', 'Travel', 'Shopping', 'Lifestyle', 'GAME_ACTION',
       'GAME_CASUAL', 'GAME_ROLE_PLAYING', 'GAME_PUZZLE', 'GAME_RACING',
       'GAME_ADVENTURE', 'GAME_ARCADE', 'GAME_STRATEGY', 'GAME_SPORTS',
       'GAME_SIMULATION', 'GAME_MUSIC', 'Music', 'Finance',
       'Entertainment', 'Education', 'GAME_EDUCATIONAL', 'Book', 'News',
       'Photo & Video', 'GAME_WORD', 'GAME_TRIVIA', 'GAME_BOARD',
       'Business', 'Productivity', 'Social Networking',
       'Health & Fitness', 'GAME_CASINO', 'Navigation', 'Utilities',
       'GAME_CARD', 'Sports', 'Catalogs', 'Weather', 'Medical', '6'],
      dtype=object)

In [33]:
apple.Category.unique()

array(['Games', 'Productivity', 'Weather', 'Shopping', 'Reference',
       'Finance', 'Music', 'Utilities', 'Travel', 'Social Networking',
       'Sports', 'Business', 'Health & Fitness', 'Entertainment',
       'Photo & Video', 'Navigation', 'Education', 'Lifestyle',
       'Food & Drink', 'News', 'Book', 'Medical', 'Catalogs'],
      dtype=object)

In [34]:
google1['Category'] = google1['Category'].apply(lambda x: x.split('_')[0])
google1['Category'] = google1['Category'].replace({'GAME': 'Games'})
google1['Category'].unique()

array(['Food & Drink', 'Travel', 'Shopping', 'Lifestyle', 'Games',
       'Music', 'Finance', 'Entertainment', 'Education', 'Book', 'News',
       'Photo & Video', 'Business', 'Productivity', 'Social Networking',
       'Health & Fitness', 'Navigation', 'Utilities', 'Sports',
       'Catalogs', 'Weather', 'Medical', '6'], dtype=object)

In [35]:
google1 =google1[google1.Category != "6"]
#google1 = google1.drop(google1.index[google1.Category == '6'])

In [36]:
apple['Category'] = apple['Category'].replace({'Reference': 'Book'})
len(apple['Category'].unique()) == len(google1['Category'].unique())

True

In [37]:
contained = [a in google1['Category'].unique() for a in  apple['Category'].unique()]
contained

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [38]:
apple["Store"] = "A"
google1["Store"] = "G"

In [39]:
Stores = pd.concat([apple, google1], sort=False)
Stores.head(5)

,App Name,Size,Price,Reviews,Rating,Content Rating,Category,Store,Installs
0,PAC-MAN Premium,96.1M,3.99,21292,4.0,4+,Games,A,NaN
1,Evernote - stay organized,151.2M,0.00,161065,4.0,4+,Productivity,A,NaN
2,"WeatherBug - Local Weather, Radar, Maps, Alerts",95.9M,0.00,188583,3.5,4+,Weather,A,NaN
3,"eBay: Best App to Buy, Sell, Save! Online Shop...",122.6M,0.00,262241,4.0,12+,Shopping,A,NaN
4,Bible,88.5M,0.00,985920,4.5,4+,Book,A,NaN

In [41]:
#Stores.to_excel("Stores.xlsx")

In [51]:
common = apple.merge(google1, on = "App Name")
common.drop(columns=["Size_y","Content Rating_x","Category_y","Content Rating_y","Store_y","Store_x","Installs","Size_x"], inplace = True)
common.head()

,App Name,Price_x,Reviews_x,Rating_x,Category_x,Rating_y,Reviews_y,Price_y
0,Bible,0.00,985920,4.5,Book,4.7,14561,0.00
1,Ms. PAC-MAN,3.99,7885,4.0,Games,4.3,5534,3.99
2,FreeCell,4.99,6340,4.5,Games,4.5,43152,0.00
3,Facebook,0.00,2974676,3.5,Social Networking,4.1,85766433,0.00
4,iQuran,1.99,2929,4.5,Book,4.8,42316,1.99

In [67]:
common["Revenue Google"] = (common['Price_y'] * common["Reviews_y"] /1000).round(2)

In [66]:
common["Revenue Apple"] = (common['Price_x'] * common["Reviews_x"]  /1000).round(2)

In [68]:

common["Revenue Apple"].describe()

count    1321.000000
mean        8.405443
std        56.620776
min         0.000000
25%         0.000000
50%         0.000000
75%         1.730000
max      1390.050000
Name: Revenue Apple, dtype: float64

In [ ]:
#Stores.to_excel("Stores.xlsx")